:root {
  --color-white: #ffffff;
  --color-primary: #f3f3f3;
  --color-secondary: #312f2f;
  --color-green: #046e1b;
  --color-blue: #75b8ee;
  --color-yellow: #f79f1a;
  --color-gray: #7f7d7d;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
.container-2 {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  padding: 0 10px;
  background: var(--color-primary);
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.header {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--color-green);
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: bold;
}

.menu-ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

.search-login {
  padding: 0.5rem;
  cursor: pointer;
}

.main {
  display: flex;
  gap: 1rem;
  padding-top: 11rem;
}
.main .left-content h1 {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 3rem;
  line-height: 5rem;
  padding-bottom: 2.31rem;
}
.main .left-content p {
  font-weight: 300;
  color: var(--color-gray);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 3.81rem;
}
.main .left-content span {
  color: var(--color-yellow);
  display: inline-block;
}
.main .left-content a {
  color: var(--color-primary);
  background: var(--color-yellow);
  font-size: 1.25rem;
  padding: 1.88rem 2.5rem;
  display: inline-block;
  border-radius: 1.25rem;
  font-weight: 600;
}
.right-content img {
  max-width: 634px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding-top: 0;

  }
}

.receitas {
  padding-bottom: 10.5rem;
}
.receitas header {
  padding-top: 6.25rem;
  padding-bottom: 4.38rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.receitas header .left-content h1 {
  font-size: 2.875rem;
  font-weight: 600;
  letter-spacing: -0.04888rem;
}
.receitas header .left-content p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-gray);
}
.receitas header a {
  background: var(--color-yellow);
  padding: 1.25rem 2.5rem;
  border-radius: 1.25rem;
  color: var(--color-primary);
}
.receitas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.56rem;
}
.receita-card {
  background: var(--color-white);
  border-radius: 1.25rem;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.receita-card > img {
  border-radius: 1.25rem 1.25rem 0 0;
}
.receita-desc {
  display: flex;
  justify-content: center;
  gap: 1.88rem;
  position: relative;
  margin-top: -2rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  color: var(--color-green);
  font-weight: 500;
}
.receita-title {
  padding: 1rem 1rem 2rem;
}
.receita-title h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.94rem;
}
.receita-title a {
  color: var(--color-yellow);
}
.receita-title a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-yellow);
}
@media (max-width: 768px) {
  .receitas header .left-content p {
    max-width: 30ch;
  }
  .receitas header a {
    width: 170px;
    text-align: center;
  }
  .receitas-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.sobre {
  display: flex;
  background: url("../img/saladaAbacaxi.png") no-repeat;
  gap: 3rem;
  border-radius: 1rem;
}
.sobre .left-content,
.sobre .right-content {
  flex: 1;
}
.sobre .left-content {
  display: flex;
}
.sobre .left-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4rem;
  padding-left: 3rem;
}
.sobre .left-content .content .title {
  background: var(--color-white);
  padding: 1rem;
  border-radius: 0.6rem;
  color: var(--color-green);
}
.sobre .right-content {
  padding: 5.31rem 8.25rem 7.12rem 0;
}
.sobre .right-content .content {
  background: var(--color-white);
  max-width: 36rem;
  padding: 2rem;
  border-radius: 1.25rem;
}
.sobre .right-content .content h2 {
  font-size: 2.875rem;
  font-weight: 600;
  letter-spacing: -0.04888rem;
  padding-bottom: 1rem;
  position: relative;
}
.sobre .right-content .content h2:after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/pao.png") no-repeat;
  width: 7.5rem;
  height: 7.5rem;
  top: -3rem;
  right: 1rem;
}
.sobre .right-content .content p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  padding-bottom: 2rem;
  color: var(--color-secondary);
}
.sobre .right-content .content a {
  background: var(--color-yellow);
  padding: 0.875rem 3rem;
  border-radius: 1.25rem;
  color: var(--color-primary);
}

@media(max-width:768px) {
  .sobre {
    flex-direction: column;
  }
  .sobre .right-content {
    padding: 0 0 3rem 1rem;
  }
  .sobre .left-content .content {
    padding-top: 1rem;
  }
}




.comunidade {
  padding-top: 8rem;
  padding-bottom: 5rem;
  position: relative;
}
.comunidade h1 {
  font-size: 2.875rem;
  text-align: center;
  padding-bottom: 4.38rem;
  font-weight: 600;
}
.comunidade-grid {
  display: flex;
  gap: 20px;
  overflow: hidden;
  /* padding-top: 2rem; */
  padding: 20px;
}
.post-item {
  flex: 0 0 auto;
  width: calc(50% - 5px);
  scroll-snap-align: start;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.post-item .header-item {
  display: flex;
  align-items: center;
  gap: 2.19rem;
}
.post-item .header-item .img img {
  border-radius: 50%;
}
.post-item .header-item .title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.post-item .header-item .title span {
  display: block;
  color: var(--color-gray);
  font-size: 1rem;
  font-weight: 300;
}
.post-item .stars-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.post-item .commentario-item p {
  font-weight: 300;
  line-height: 1.5rem;
  max-width: 53ch;
  text-align: left;
}
.post-item .imagem-item {
  padding-top: 1rem;
}
.post-item .imagem-item img {
  border-radius: 0.875rem;
}
.post-item .curtir-compartilhar span {
  font-size: 1.25rem;
}
.post-item .curtir-compartilhar .curtir {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media(max-width: 768px) {
  .comunidade-grid .post-item{
    width: 100%;

  }
}


.arrow-left,
.arrow-right {
  position: absolute;
  border: 1px solid var(--color-gray);
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.arrow-left:hover,
.arrow-right:hover {
  background: #d9d9d9;
}

.arrow-left {
  top: 60%;
  left: -1.2rem;
}
.arrow-right {
  top: 60%;
  right: -2rem;
}

@media(max-width: 768px){
  .arrow-left {
    left: -0.5rem;
  }
  .arrow-right {
    right: -0.5rem;
  }
}

.app-download {
  padding: 5.31rem 0 0 4.31rem;
  background: var(--color-green);
  display: flex;
  border-radius: 1rem;
  margin-bottom: 10rem;
}

.app-download .content h1 {
  font-size: 2.875rem;
  font-weight: 600;
  color: var(--color-white);
}
.app-download .content .link-app {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.app-download .content .link-app a {
  display: flex;
  align-items: center;
  width: max-content;
  background: var(--color-yellow);
  padding: 1rem 2rem;
  border-radius: 1rem;
  gap: 10px;
}

@media (max-width: 768px) {
  .app-download {
    flex-direction: column;
    padding: 3rem;
    margin-bottom: 0;
  }

}

.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5rem;
}
.footer .left-content {
  display: flex;
  gap: 4rem;
}
.footer .left-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.footer .left-content a {
  display: block;
  margin-bottom: 0.5rem;
}
.footer .right-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 3rem;
}
.footer .right-content form input {
  padding: 0.6rem 1rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color-yellow);
  background-color: transparent;
  outline: none;
}

.footer .right-content form button {
  background: var(--color-yellow);
  border-radius: 1.25rem;
  color: var(--color-primary);
  border: none;
  padding: 1.25rem 2.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media(max-width:768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 4rem;
  }
  .footer .right-content {
    order: 1;
  }
  .footer .left-content {
    order: 2;
  }
  .footer .right-content form input {
    width: max-content;
  }
}